BOT_TOKEN=8988622858:AAHamrsZ_mCiTB4L950B7k7Y8QApzcWPDRc
MONGO_URI=mongodb+srv://Egoist:jayesh1090@waifubot.jblumsy.mongodb.net/?appName=Waifubot
DB_NAME=waifucluster
OWNER_ID=7974236970
FORCE_JOIN=-1004153036996
BOT_LOGGING=-1004441358449
DAILY_REWARD=100
WEEKLY_REWARD=2000
START_MEDIA_1=https://files.catbox.moe/5zrb1a.mp4
START_MEDIA_2=https://files.catbox.moe/5zrb1a.mp4
SUPPORT_CHAT=https://t.me/shinobuXcastel
UPDATE_CHAT=https://t.me/DemonXwaifu
OWNER_USERNAME=EGOIST_6969
